<div class="account">
  <div class="title">
    <h4>Consulta de Saldo</h4>
    <br>
    <h1>Este es tu saldo</h1>
  </div>
  <div class="info">
    <h3>Saldo de la cuenta: {{ account.saldo }}</h3>

    <h3>
      Tipo de cuenta:
      {{
        account.tipo_letras == "CC" ? "Cuenta Corriente" : "Caja de Ahorro"
      }}
      en {{ account.moneda == "$" ? "Pesos" : "Dolares" }}
    </h3>

    <h3>Numero de cuenta: {{ account.n }}</h3>
  </div>

  <div class="close-box">
    <button  (click)="closeModal()">Salir</button>
  </div>
</div>
