<div class="grid">
    
    <app-account-view *ngIf="showAccount" [account]="account" (close)="closeModal()"></app-account-view>
    <div class="load-screen" *ngIf="!load">
        <h2>Cargando la informacion de las cuentas</h2>
    </div>
    <div *ngIf="load" class="box-grid">
        <div class="title">
            <h4>Consulta de Saldo</h4>
            <br>
            <h1>Selecciona la Cuenta a Consultar</h1>
        </div>
        <div class='grid-cards' >
            <app-card *ngFor="let account of cards[index]" (changeIndex)="setIndex($event)" (sAccount)="setAccount($event)" [account]="account"></app-card>
        </div>

        
    </div>  
    <div *ngIf="load" class="close-box">
        <button  >Salir</button>
    </div>  
    
  
</div>
