.grid-card{
    position: relative;
    margin-top:5vh ;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    width: auto;
    z-index: 1000;
    height: 50vh;
}

.load-screen{
    margin-top:5vh ;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    width: 100vw;

    height: 50vh;
}